.file-upload {
    position: relative;
    display: inline-block;
    padding-left: 800px;

}

.file-upload__label {
    display: block;
    padding: 1em 2em;
    color: #fff;
    background: #265a88;
    border-radius: .4em;
    transition: background .3s;

}
.file-upload__label:hover {
     cursor: pointer;
     background: #000;
 }



.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

