@import url('https://fonts.googleapis.com/css?family=Abel|Play|Roboto:100,300,300i,400,500,700,700i,900|Shadows+Into+Light');

*{
    margin:0;
    padding: 0;
}

.fix{
    overflow: hidden;
}

.row{
    margin: 0;
}

body{
    background: rgba(255, 255, 255, 0.44);
}

.main-nav{

    background: rgba(172, 63, 255, 0.64);
    background-image: -webkit-linear-gradient( to bottom, to top, color-stop(50%, rgba(172, 63, 255, 0.65)), color-stop(100%, #2e8cb8));
    background-image: -moz-linear-gradient(  to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -o-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -ms-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: linear-gradient( to bottom,  rgba(172, 63, 255, 0.65), #2e8cb8);

    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    -webkit-box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);
    box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);
}



.main-nav:after {
    clear: both;
    content: "\00a0";
    display: block;
    height: 0;
   font-family: 'Roboto', sans-serif;
    overflow: hidden;
}



#main-menu li a {
    text-decoration: none;
    color: #f9f2f4;
background: transparent;
    line-height:3em;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;



}

#main-menu li a:hover{
    background: #60a0ff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

#main-menu  li ul {

    background: rgba(172, 63, 255, 0.64);
    background-image: -webkit-linear-gradient( to bottom, to top, color-stop(50%, rgba(172, 63, 255, 0.65)), color-stop(100%, #2e8cb8));
    background-image: -moz-linear-gradient(  to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -o-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -ms-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: linear-gradient( to bottom,  rgba(172, 63, 255, 0.65), #2e8cb8);

}

#main-menu >li:hover > a{
    background: #60a0ff;
}
.sm-blue{
    background: transparent;
    border:none;


}
.nav-brand {
    float: left;
    margin: 0;
}

.nav-brand a {
    display: block;
    padding: 10px 10px 10px 20px;
    color: #cde8ff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}

#main-menu{
    clear: both;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

@media (min-width: 768px) {
    #main-menu {
        float: right;
        clear: none;
    }
}

#main-menu:before {
    content: '';
    display: block;
    height: 1px;
    font: 1px/1px sans-serif;
    overflow: hidden;
    background: #2e8cb8;
}

@media (min-width: 768px) {
    #main-menu:before {
        display: none;
    }
}

.main-menu-btn {
    float: right;
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: 29px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
    position: absolute;
    top: 50%;
    left: 2px;
    height: 2px;
    width: 24px;
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.main-menu-btn-icon:before {
    content: '';
    top: -7px;
    left: 0;
}

.main-menu-btn-icon:after {
    content: '';
    top: 7px;
    left: 0;
}

/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
    height: 0;
    background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
    display: none;
}

#main-menu-state:checked ~ #main-menu {
    display: block;
}

@media (min-width: 768px) {
    /* hide the button in desktop view */
    .main-menu-btn {
        position: absolute;
        top: -99999px;
    }
    /* always show the menu in desktop view */
    #main-menu-state:not(:checked) ~ #main-menu {
        display: block;
    }
}


h3{

    background: rgba(95, 151, 246, 0.41);
    width: 50%;
    height:auto;
    display:block;
    margin:0 auto;
    padding: 5px;
    color: rgb(110, 12, 32);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.h2{
    font-size:20px;
}

.color_text{
    color: #ffa411;
    text-shadow: 0 5px 5px #fff;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 800;
}
#img{
    width: 55px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
}

@media(max-width: 420px) {

    .section_head{
        margin-top:150px;
        width:100%;
        display: inline-block;



    }
    h1{

        background: rgba(2, 2, 2, 0.99);
        width: 100%;
        height:auto;
        display:inline-block;
        margin:0 auto;
        padding: 50px;

    }

    #img{
        width: 55px;
        height:auto;
        display:block;
    }

    .color_text{
        color: #ffa411;
        text-shadow: 0 5px 5px #fff;
        font-family: 'Shadows Into Light', cursive;
        font-weight: 800;
    }

}

h2{
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container_description{
    margin:0 auto;
    padding:50px;
    display: block;
    width:100%;
    height:auto;

}
h4{
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    color: #b1d3dc;
    width:100%;
    padding:10px;
    background: rgba(172, 63, 255, 0.64);
    background-image: -webkit-linear-gradient( to bottom, to top, color-stop(50%, rgba(172, 63, 255, 0.65)), color-stop(100%, #2e8cb8));
    background-image: -moz-linear-gradient(  to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -o-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -ms-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: linear-gradient( to bottom,  rgba(172, 63, 255, 0.65), #2e8cb8);
}

.profile_name{
    background-color: #00b1b1;
}

p{
    color: rgb(113, 113, 113);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 25px;
   text-shadow: 0 5px 5px rgba(0, 182, 254, 0.09);

}
.div{

    background: rgba(255, 255, 255, 0.51);
    width:31%;
    height: auto;
    display:inline-block;
    margin: 12px;
    border:1px solid #9d9d9d;
 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(182, 208, 227, 0.4);

}
.margin{
    margin-right: 5px;
}



.bottom{
    padding-bottom:10px;
}

@media (max-width: 768px) {
    .container_description{
        margin:0 auto;
        padding:30px;
        display: block;
        width:100%;
        height:auto;

    }
    h4{
        font-family: 'Shadows Into Light', cursive;
        font-size: 25px;
        color: #b1d3dc;
        width:100%;
        padding:10px;
        background: rgba(172, 63, 255, 0.64);
        background-image: -webkit-linear-gradient( to bottom, to top, color-stop(50%, rgba(172, 63, 255, 0.65)), color-stop(100%, #2e8cb8));
        background-image: -moz-linear-gradient(  to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
        background-image: -o-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
        background-image: -ms-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
        background-image: linear-gradient( to bottom,  rgba(172, 63, 255, 0.65), #2e8cb8);
    }

    p{
        color: rgb(113, 113, 113);
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 25px;
        text-shadow: 0 5px 5px rgba(0, 182, 254, 0.09);

    }
    .div{

        background: rgba(255, 255, 255, 0.51);
        width:31%;
        height: auto;
        display:inline-block;
        margin: 12px;
        border:1px solid #9d9d9d;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 10px 10px rgba(182, 208, 227, 0.4);

    }
    .margin{
        margin-right: 5px;
    }



    .bottom{
        padding-bottom:10px;
    }

}

.container-fluid_footer{

    width: 1270px;
    margin: 0 auto;
    display: block;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;

}

.footer_section{
    padding: 20px;
    margin-top: 213px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    background: rgba(172, 63, 255, 0.64);
    background-image: -webkit-linear-gradient( to bottom, color-stop(50%, rgba(172, 63, 255, 0.65)), color-stop(100%, #2e8cb8));
    background-image: -moz-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -o-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: -ms-linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
    background-image: linear-gradient( to bottom, rgba(172, 63, 255, 0.65), #2e8cb8);
}


.footer{

    -webkit-box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);
    box-shadow: 0 1px 4px rgba(90, 90, 90, 0.25);



}
h6{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.contact_footer{
    display: inline-block;
    max-width: 100%;
    margin-left: 70px;
    height: auto;
}


@media (max-width: 768px) {
    .contact_footer{
        margin:0;
        display: block;
        max-width:100%;
    }
}

.contact_footer ul li a{
    text-decoration: none;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #f9f2f4;
    width: 100%;
    margin-bottom: 13px;


}

.th{
    text-align: center;
}


